.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  background-color: #61dafb;
  color: #282c34;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-primary {
  background-color: #61dafb;
  color: #282c34;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
 
.btn-xl {
  font-size: 24px;
}

.color-swatches-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  list-style-type: none;
}

.color-swatch-color {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  font-size: 1rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-swatch-name {
  font-size: 1rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-swatch-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.float-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: transform 0.3s ease-in-out;
}

.float-button:hover {
  transform: scale(1.1);
}